@font-face {
	font-family: 'Helvetica Neue';
	src:
		url('HelveticaNeue-Bold.woff2') format('woff2'),
		url('HelveticaNeue-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Helvetica Neue';
	src:
		url('HelveticaNeue-MediumItalic.woff2') format('woff2'),
		url('HelveticaNeue-MediumItalic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Helvetica Neue';
	src:
		url('HelveticaNeue-Medium.woff2') format('woff2'),
		url('HelveticaNeue-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Helvetica Neue';
	src:
		url('HelveticaNeue-BoldItalic.woff2') format('woff2'),
		url('HelveticaNeue-BoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Helvetica Neue';
	src:
		url('HelveticaNeue-Light.woff2') format('woff2'),
		url('HelveticaNeue-Light.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Helvetica Neue';
	src:
		url('HelveticaNeue-LightItalic.woff2') format('woff2'),
		url('HelveticaNeue-LightItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}
